.testo1{
    font-family: Garamond;
    text-align: center;
    font-size: 75px;
}
.testo{
    font-family: Garamond;
    text-align: center;
}
.centrato{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.testo2{
    font-family: Garamond;
    text-align: left;
    font-size: 20;
}
  