<html>
    <head>
        <title>Cucina d'Italia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
        <h1 class = "testo1">Pasta alla norma</h1>
        <img class = "centrato" src="{{url_for('static', filename='image/pastanorma.png')}}" align="center" />
        <p class = "testo2">Preparazione<br>01<br>Per la preparazione della pasta alla Norma dovrete prima di tutto lavare e tagliare le melanzane a dadini il più possibile simili tra loro (se preferite tagliate l'ortaggio a fette). Ora salatele e lasciate che eliminino l'acqua amara in uno scolapasta.
            tagliare a dadini le melanzane<br>02<br>Intanto, in un tegame fate soffriggere l'aglio in abbondante olio extravergine d'oliva, aggiungete i pomodori pelati e lasciateli cuocere a fuoco lento finché non saranno morbidi e facili da rompere con la forchetta. A questo punto passateli. Rimettete la vostra salsa di pomodoro sul fuoco per farla addensare e aggiungete abbondante basilico (almeno 10 foglie), sale e pepe macinato grosso.<br>cuocere la salsa di pomodoro<br>03<br>Mentre il sugo cuoce a fuoco lento, lavate le melanzane con acqua fredda per eliminare il sale in eccesso, poi asciugatele molto bene con un panno pulito, quindi infarinatele leggermente e friggetele in olio di arachidi ben caldo. Una volta fritte, mettete le melanzane in una teglia con della carta assorbente in cui verranno fatte asciugare.
            infarinare i cubetti di melanzane<br>04<br>Cuocete le penne rigate in abbondante acqua bollente salata e intanto a fuoco spento unite la Ricotta Santa Lucia al pomodoro. A cottura raggiunta, una volta pronte mantecate le pennette nel sugo al pomodoro, dove era stata precedentemente aggiunta della ricotta.<br>saltare in padella la pasta con il condimento<br>05<br>Infine mettete la pasta alla Norma nei piatti e servite decorando con le melanzane fritte.</p>
        <img class = "centrato" src="{{url_for('static', filename='image/normacru.png')}}" align="center" />
        <img class = "centrato" src="{{url_for('static', filename='image/normafa.png')}}" align="center" />
        <a href = "/"><img class = "centrato" src="{{url_for('static', filename='image/tastohome.png')}}" align="center" /></a>
    </body>
</html>