<html>
    <head>
        <title>Cucina d'Italia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
        <h1 class = "testo1">Cucina d'Italia</h1>
        <img class = "centrato" src="{{url_for('static', filename='image/carbonare.png')}}" align="center" />
        <p class = "testo" >Pasta alla carbonara</p>
        <img class = "centrato" src="{{url_for('static', filename='image/lasagne.png')}}" align="center" />
        <p class = "testo">Lasagne bolognesi</p>
        <img class = "centrato" src="{{url_for('static', filename='image/pastanorma.png')}}" align="center" />
        <p class = "testo">Pasta alla norma</p>
        <img class = "centrato" src="{{url_for('static', filename='image/pizza.png')}}" align="center" />
        <p class = "testo">Pizza margherita</p>
    </body>
</html>