<html>
    <head>
        <title>Cucina d'Italia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>
    <body>
        <h1 class = "testo1">Pasta alla norma</h1>
        <img class = "centrato" src="{{url_for('static', filename='image/pastanorma.png')}}" align="center" />
        <p class = "testo2">
            Preparation<br>01<br>To prepare the pasta alla Norma you will first have to wash and cut the aubergines into cubes as similar to each other as possible (if you prefer, cut the vegetable into slices). Now salt them and let them eliminate the bitter water in a colander.
            Preparation<br>01<br>To prepare the pasta alla Norma you will first have to wash and cut the aubergines into cubes as similar to each other as possible (if you prefer, cut the vegetable into slices). Now salt them and let them eliminate the bitter water in a colander.
                        cut the aubergines into cubes<br>02<br>Meanwhile, in a saucepan, fry the garlic in plenty of extra virgin olive oil, add the peeled tomatoes and let them cook over a low heat until they are soft and easy to break with the fork. At this point pass them. Put your tomato sauce back on the heat to thicken it and add plenty of basil (at least 10 leaves), salt and coarsely ground pepper.<br>cook the tomato sauce<br>03<br>While the sauce is cooking over a low heat, wash the aubergines with cold water to remove the excess salt, then dry them very well with a clean cloth, then lightly flour them and fry them in very hot peanut oil. Once fried, place the aubergines on a baking tray with absorbent paper where they will be dried.
                        Flour the aubergine cubes<br>04<br>Cook the penne rigate in plenty of boiling salted water and meanwhile, turn off the heat, add the Ricotta Santa Lucia to the tomato. Once cooked, once ready, stir the pennette in the tomato sauce, to which the ricotta had previously been added.<br>sauté the pasta in the pan with the sauce<br>05<br>Finally, put the pasta alla Norma on the plates and serve garnished with fried aubergines.</p>
        <img class = "centrato" src="{{url_for('static', filename='image/normacru.png')}}" align="center" />
        <img class = "centrato" src="{{url_for('static', filename='image/normafa.png')}}" align="center" />
        <a href = "/"><img class = "centrato" src="{{url_for('static', filename='image/tastohome.png')}}" align="center" /></a>
    </body>
</html>