<html>
    <head>
        <title>Cucina d'Italia</title>
    </head>
    <body>
        <h1>Cucina d'Italia</h1>
        <img src="{{url_for('static', filename='image/carbonare.png')}}" align="center" />
        <p>Pasta alla carbonara</p>
        <img src="{{url_for('static', filename='image/lasagne.png')}}" align="center" />
        <p>Lasagne bolognesi</p>
        <img src="{{url_for('static', filename='image/pastanorma.png')}}" align="center" />
        <p>Pasta alla norma</p>
        <img src="{{url_for('static', filename='image/pizza.png')}}" align="center" />
        <p>Pizza margherita</p>
    </body>
</html>